*  {
    margin: 0;
    padding: 0;
  }

  body {
    background: #FFEDD5;
    font-family: 'Roboto', sans-serif;
  }

  header, section {
    max-width: 300px;
    margin: 0 auto;
  }

  h1, h2, h3, .produto__preco___valor {
    color: #2D2C2A;
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
  }

  



  